* {
  --time: 1s;
}
body {
  background-image: url("../assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  /* position: relative; */
}
div.nav__bar nav {
  background-color: rgba(0, 0, 0, 0.345);
}
nav a {
  position: relative;
}
nav a:first-child {
  font-weight: 500;
}
nav a:not(:first-child)::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  bottom: 10px;
  left: 0;
  transition: calc(var(--time) * 2 / 4);
}
nav a:not(:first-child):hover::after {
  background-color: white;
  bottom: -10px;
}
div.content {
  display: flex;
  margin: 150px;
  align-items: center;
  justify-content: space-between;
}
div.content__topic {
  width: 450px;
  height: 382px;
}
div.content__topic h2,
div.content__topic h1,
div.content__topic p {
  /* width: 100%;
  height: 100%; */
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 200;
}
div.content__topic h2 {
  font-size: 28px;
  line-height: 34px;
  font-weight: 200;
  margin: 0;
}
div.content__topic h1 {
  font-size: 150px;
  line-height: 172px;
  margin: 0;
}
div.content__topic p {
  font-size: 18px;
  /* line-height: 18px; */
  font-family: "Barlow";
  text-transform: unset;
}
div.content__action {
  /* height: 100%; */
  width: 274px;
  height: 274px;
  border-radius: 50%;
  padding: 0;
  border: 0;
  overflow: hidden;
  cursor: pointer;
  transition: 0.25s;
  box-sizing: border-box;
}

div.content__action button {
  height: 100%;
  width: 100%;
  margin: 0;
  text-transform: uppercase;
  border: 0;
  transition: 0.4s linear;
}
div.content__action:hover button {
    background-color: blueviolet;
    color: white;
}
div.content__action button h2 {
  font-size: 45px;
  font-family: unset;
  color: black;
  font-weight: 200;
  cursor: pointer;
  margin: 0;
}